.myproductmodal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.myproductmodal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: right;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 600px; /* Set a max height for the container */
  overflow-y: auto;
}

.modal-h2 {
  text-align: left;
}

.delivery-option {
  margin-bottom: 20px;
}

.delivery-option2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.delivery-options-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-icon {
  width: 100px;
}

.myproductmodal-buttons {
  display: flex;
  flex-direction: column;
}

.myproductmodal-delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Space between price and button */
}

.myproductmodal-delete-button:hover {
  background-color: #d32f2f;
}

hr {
  border: none;
  border-top: 2px solid #9f9e9e;
}

.myproductmodal-edit-button {
  background-color: #6bd7d8;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Space between price and button */
}

.myproductmodal-edit-button:hover {
  background-color: #50bdbf;
}

hr {
  border: none;
  border-top: 2px solid #9f9e9e;
}
