.delivery-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.delivery-modal-content {
  background-color: rgb(222, 224, 225);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
  width: 80%;
  position: relative;
}

.delivery-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.delivery-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(222, 224, 225);
  width: 100%;
  gap: 50px;
}

.delivery-content {
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 100%;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3ch;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 15px;
}

.delivery-h2 {
  margin-left: 20px;
}

.delivery-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delivery-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 50px;
  border-color: rgb(0, 97, 252);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  outline: none;
  text-align: left;
  font-size: 18px;
}

.delivery-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 100%;
  width: 800px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5ch;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-right: 15px;
  overflow: hidden;
}

.uploaded-image-container {
  position: relative;
  display: inline-block;
}

.deliveri-image {
  max-width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.deliver-custom-file-upload {
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #257fdf;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  font-size: 14px;
  margin-top: 325px;
  margin-bottom: 300px;
  height: 60px;
  width: 40%;
  line-height: 60px;
  vertical-align: middle;
  font-size: 20px;
}

.deliver-custom-file-upload:hover {
  background-color: #1877ec;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 12px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.Container-delivery-button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.delivery-button {
  text-align: center;
  padding: 1px 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  line-height: 60px;
  vertical-align: middle;
  font-size: 20px;
  width: 50%;
}
/* 
.delete-button:hover {
  background-color: darkred;
} */
