.input1-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.input1 {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 60px;
}

.input1:focus {
  border-color: rgb(0, 97, 252);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  outline: none;
}

.input2 {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 60px;
}

.input2:focus {
  border-color: rgb(0, 97, 252);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  outline: none;
}
