.resetpassword-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 100vh;
}

.resetpassword-sameway-logo {
  width: 350px;
  margin-bottom: 80px;
}

.resetpassword-content-container {
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;

  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.resetpassword-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 5px;
}
.resetpassword-label {
  font-weight: 500;
  text-align: left;
  justify-content: left;
}

.resetpassword-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #adadad;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 55px;
  color: white;
  font-size: 15px;
}

.resetpassword-hj3 {
  display: flex;
  text-align: center;
  max-width: 410px;
  margin-bottom: 25px;
}

.resetpassword-button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(76, 115, 224);
  color: white;
  height: 55px;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.resetpassword-back-to-login {
  color: rgb(76, 136, 248);
  font-weight: 700;
  margin-top: 20px;
}

@media (max-width: 485px) {
  .resetpassword-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 100vh;
  }

  .resetpassword-sameway-logo {
    width: 250px;
    margin-bottom: 40px;
  }

  .resetpassword-content-container {
    display: flex;
    flex-direction: column;
    background-color: #e9ecef;

    justify-content: center;
    border-radius: 10px;

    width: 100%;
    padding: 15px;
    max-width: 310px;
  }
  .resetpassword-hj3 {
    display: flex;
    text-align: left;
    max-width: 340px;
    margin-bottom: 25px;
  }

  .resetpassword-login-h2 {
    font-size: 18px;
    width: 325px;
    text-align: left;
  }

  .resetpassword-input {
    height: 45px;
    font-size: 14px;
  }

  .resetpassword-button {
    height: 45px;
  }

  /* .login-h3 {
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  } */
}
